<html>
  <head>
    <title>David Bacall's CV</title>
    <link rel='stylesheet' href='../stylesheets/main.css'>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id='left-side'>
      <div id='img-box'>
        <img src='../images/20190326_134133.jpg'>
      </div>
      <div id='bio'>
        <p id='bio-desc'>
          I have experience building web app solutions using the following skills and knowledge:
        </p>
        <ul id='skills'>
          <li>Ruby</li>
          <li>Javascript</li>
          <li>TDD, OOP and MVC</li>
          <li>Sinatra and Rails</li>
          <li>JQuery</li>
          <li>Rspec and Jasmine</li>
          <li>Capybara</li>
          <li>SQL and Active Record</li>
          <li>CSS and Bootstrap</li>
        </ul>
        <ul id='info'>
          <li><i class="fa fa-phone"></i><br>07816449949</li>
          <li><i class="fa fa-envelope"></i><br>dbacall@hotmail.co.uk</li>
          <li><i class="fa fa-map-marker-alt"></i><br>Cricklewood<br>London, UK</li>
        </ul>
      </div>
    </div>
    <div id='right-side'>
      <div id='title'>
        <h1>David Bacall</h1>
      </div>
      <div class='index'>
        <a href='#about'>About Me</a>
        <a href=''>Skills</a>
        <a href=''>Projects</a>
        <a href='#education'>Education</a>
        <a href='#experience'>Experience</a>
        <a href='#hobbies'>Hobbies</a>
      </div>
      <div id='main'>
        <h2 id='about'>About me</h2>
        <p>
          I am an ambitious junior full stack developer. I recently left a role in tax consulting 
          hoping to find a career that will satisfy my need for creativity and problem solving.
          Having begun to learn to code and really found enjoyment in it I was lucky enough to
          hear about Makers Academy.
        </p>
        <p>
          I started the course at Makers in October and have learnt many of the cornerstones of what it
          is to be a good coder. With a heavy focus on test driven development, debugging and not just how
          to use one language, but gaining an understanding of what it is that defines a programming language. I now 
          feel confident that I can pick up any programming language in a short space of time and have the 
          necessary skills to add value to your team of developers.
        </p>
        <hr>
        <h2 id='education'>Education</h2>
        <h3>Makers Academy (Oct 2019 to Feb 2020)</h3>
        <ul class='education'>
          <li>Ruby, Javascript</li>
          <li>OOP, TDD, MVC, DDD</li>
          <li>Agile/XP</li>
          <li>Rspec, Jasmine</li>
        </ul>
        <h3>ACA (Sep 2018 to Jul 2019)????</h3>
        <ul class='education'>
            <li>Passed 7 exams befor deciding it wasn't for me.</li>
        </ul>
        <h3>University of Birmingham (Oct 2013 to Jun 2016)</h3>
        <ul class='education'>
            <li>Mathematics Bsc - 2:1</li>
        </ul>
        <h3>King David High School, Manchester (Sep 2004 to Jun 2011)</h3>
        <ul class='education'>
            <li>A-Levels:</li>
            <li>Maths - A</li>
            <li>Physics - A</li>
            <li>Biology - B</li>
        </ul>
        <hr>
        <h2 id='experience'>Experience</h2>
        <h3>PWC (Sep 2018 to Jul 2019)</h3>
        <p>Graduate tax technology consultant</p>
        <h3>Various (Jan 2017 to Jun 2017)</h3>
        <p>Maths and Physics tutor</p>
        <h3>S.M Bass & Co (Sep 2016 to Aug 2017)</h3>
        <p>Office Assistant</p>
        <hr>
        <h2 id='hobbies'>Hobbies</h2>
        <p>
          I am a self taught guitarist and love learning new music and playing with friends.
          I enjoy playing football, tennis, table tennis and snooker and regularly go to local 
          snooker clubs with friends to remind us how bad we are. I also really enjoy cooking and regularly cook
          for friends and family. I'm also a bit mad about video gaming, and will gladly organize then 
          win mario kart tournaments to help raise team morale.
        </p>
      </div>
    </div>
  </body>
</html>